*.db
*.suo
*.user
bin
obj
*.bak
*.iloproj
TestResult.xml
Tests.VisualState.xml
[Bb]in
[Oo]bj
[Rr]elease
[Dd]ebug
*.bak
*.manifest
*.cache
*.suo
*.orig
*.user
*.vspscc
LastBuild.log
.svn
_ReSharper*
.DS_Store
*.nupkg
Sources/DISApplication/packages/Modernizr.1.7
Sources/DISApplication/packages/src
Sources/DISApplication/packages/xunit.1.8.0.1545
Sources/DISApplication/packages/xunit.extensions.1.8.0.1545
Sources/DISApplication/_ReSharper.DISApplication
tests/
tests/Kendo2
tests/MvcApplication1
tests/Telerik Examples
tests/TestProject1
