<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HRDBEntities" connectionString="metadata=res://*/MySQLModel.csdl|res://*/MySQLModel.ssdl|res://*/MySQLModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=tess;Persist Security Info=True;database=HRDB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>